.post{
    width: 260px;
    height: 310px;
    /* background-color: #FFECC5; */
    /* padding: 10px; */
    margin: 10px;
    text-align: center;
    background: #FCE2AB;
    align-self: center;
    justify-self: center;

}
.cup1{
width: 160px;
height: 180px;
}
.head__card{
    padding-top: 5px;
}
.icon{
    width: 30px;
    height: auto;
}